<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--左边导航栏-->
<div class="tpl-left-nav tpl-left-nav-hover" th:fragment="personnav">
    <div class="tpl-left-nav-title">
       管理员中心
    </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <a href="../index.html" class="nav-link active" th:href="@{/toManagerNormal}">
                    <i class="am-icon-home"></i>
                    <span>管理员通告</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>视频博客管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>

                        <a href="table-images-list.html" th:href="@{/toVideoList}">
                            <i class="am-icon-angle-right"></i>
                            <span>所有发布的博客</span>
                            <!--<i class="tpl-left-nav-content tpl-badge-success">
                                18
                            </i>-->
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-wpforms"></i>
                    <span>用户管理</span>
                    <!--<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>-->
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu" ><!--style="display: block;" -->
                    <li>
                        <a href="form-amazeui.html" th:href="@{/toUserList}">
                            <i class="am-icon-angle-right"></i>
                            <span>所有用户</span>
                            <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>-->
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

</body>
</html>